<<<<<<< HEAD
.azul{
    background-color: blue;
}
.cinza{
    color:grey;
}
.amarelo{
    color:yellow;
=======
.azul{
    background-color: blue;
}
.cinza{
    color:grey;
}
.amarelo{
    color:yellow;
>>>>>>> a97f81940b50475323d4b2d8a5864c37b70977a1
}